<% if @user.errors.present? %>
  <%= render 'shared/flashes', errors: @user.errors %>
<% end %>

<%= simple_form_for @user, :url => profile_edit_path, :method => :patch do |f| %>

<div class="row edit-profile">

  <div class="columns small-12 medium-12 large-12 expand" style="text-align: center;">
    <br>
    <h1><%= t :edit_profile %></h1>
  </div>

  <div class="columns small-6 medium-4 medium-offset-1 large-4">

    <!-- Location -->
    <fieldset class="fieldset map-container">
      <legend id="user_location" data-geocode="<%= current_user.geocode %>"><%= t :location %></legend>
      <div id='js-small-map' style='width: 100%; height: 300px' data-new-page-map></div><br>
      <%= f.input :location,
        label: false,
        input_html: {
          id: "algolia-places-input",
          value: @user.location.present? ? @user.location : current_user.location
      } %>
    </fieldset>

    <!-- Locale -->
    <fieldset class="fieldset locale-container">
      <legend><%= t(:locale) %></legend>
      <%= f.input :locale,
        label: false,
        collection: I18n.available_locales,
        selected: @user.locale
      %>
    </fieldset>

  </div>

  <div class="columns small-6 medium-6 large-4">

    <!-- Contact Methods -->
    <fieldset class="fieldset contact-methods">
      <legend><%= t :contact_methods %></legend>

      <div class="row" id="js-edit-contact-methods">
        <div class="columns expand">
          <table class="table hover stripe">
            <thead>
              <tr>
                <th><%= t :type %></th>
                <th><%= t :value %></th>
                <th data-tooltip title="<%= t :public_option_tooltip %>" class="top"><%= t :public %></th>
              </tr>
            </thead>
            <tbody>
              <% @user.contact_methods_as_array.each_with_index do |method, index| %>
              <tr>
                <td><input type="text" name="user[contact_methods][<%= index %>][name]" tabindex="<%= index + 2 %>" value="<%= method['name'] %>"></input></td>
                <td><input type="text" name="user[contact_methods][<%= index %>][value]" tabindex="<%= index + 2 %>" value="<%= method['value'] %>"></input></td>
                <td class="public-input"><input type="checkbox" name="user[contact_methods][<%= index %>][public]" <%= "checked" if !method['public'].nil? %>>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>

      <!-- Add a method button -->
      <div class="row">
        <div class="columns expand">
          <a href="#" class="button primary expanded" id="js-add-contact-method"><%= t :add_method %></a>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-3">
    <%= f.button :submit, t(:update_user), :class => 'button primary expanded' %>
  </div>

</div>

<% end %>

<input id="search_distance" type="text" value="5">
