<% if advertisements.present? %>

<!-- Masonry view -->
<% if view_type === 'masonry' %>
  <div class="js-gutter-sizer"></div>
  <% advertisements.each do |ad| %>
    <a class="js-packery-item" href="/advertisements/<%= ad.id %>">
      <div class="card">
        <div class="card-image">
          <% if ad.images.attached? %>
          <img height="300" width="300" src="<%= url_for(ad.images.first) %>" />
          <% else %>
          <img src="https://picsum.photos/320" />
          <% end %>
        </div>
        <div class="card-section">
          <div class="row">
            <div class="columns small-expand medium-expand large-expand">
              <p><span class="label success"><%= ad.for %></span><span class="label warning"><%= ad.category_subcategory %></span></p>
              <svg viewBox="0 0 250 22">
                <text x="0" y="15"><%= ad.emoji %> <%= ad.title %></text>
              </svg>
              <p class="card-location"><strong><small><i class="fi-marker"></i> <%= ad.location %></small></strong></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>

<!-- List view -->
<% elsif view_type === 'list' %>
<div class="list-container">
    <table class="hover striped">
      <thead>
        <tr>
          <td style="text-align: right;">Title</td>
          <td></td>
          <td>Description</td>
        </tr>
      </thead>
      <tbody>
        <% advertisements.each do |ad| %>
          <a href="/advertisements/<%= ad.id %>">
            <tr>
              <td width="250px" style="text-align: right;"><a href="/advertisements/<%= ad.id %>"><%= "#{ad.title}" %></a></td>
              <td width="150px" class="image-holder"><img src="<%= url_for(ad.images.first) %>" /></td>
              <td><%= "#{strip_tags(ad.body[0..99])}..." %></td>
            </tr>
          </a>
        <% end %>
      </tbody>
    </table>

</div>

<!-- Map view -->
<% elsif view_type === 'map' %>
<div class="map-container">
  <div id='map-results-view'></div>
</div>
<% end %>

<% else %>
  <h2 class="no-results">😅 No results</h2>
<% end %>
