<% if advertisements.present? %>

<!-- Masonry view -->
<% if view_type === 'masonry' %>
  <div class="js-gutter-sizer"/>
  <% advertisements.each do |ad| %>
    <a class="js-packery-item" href="/advertisements/<%= ad.id %>">
      <div class="card">
        <div class="card-image">
          <% if ad.images.attached? %>
          <img src="<%= url_for(ad.images.first) %>" />
          <% else %>
          <img src="https://picsum.photos/320" />
          <% end %>
        </div>
        <div class="card-section">
          <div class="row">
            <div class="columns small-expand medium-expand large-expand">
              <p><span class="label success"><%= ad.for %></span><span class="label warning"><%= ad.category_subcategory %></span></p>
              <h5><span class="emoji"><%= ad.emoji %></span> <%= ad.title %></h5>
              <p class="card-location"><strong><small><i class="fi-marker"></i> <%= ad.location %></small></strong></p>
            </div>
          </div>
        </div>
      </div>
    </a>
  <% end %>

<!-- List view -->
<% elsif view_type === 'list' %>
<div class="callout warning">
  <table>
    <thead>
      <tr>
        <th width="200">Image</th>
        <th width="200">Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <% advertisements.each do |ad| %>
      <tr>
        <td><img height="150" src="<%= url_for(ad.images.first) %>" /></td>
        <td><%= "#{ad.emoji} #{ad.title}" %></td>
        <td><%= "#{strip_tags(ad.body[0..99])}..." %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<!-- Map view -->
<% elsif view_type === 'map' %>
<div class="map-container">
  <div id='map-results-view' style="height: 673px;"></div>
</div>
<% end %>

<% else %>
  <h2 class="no-results">😅 No results</h2>
<% end %>
