<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <% if !user_signed_in? %>
        <a href="#">My Classifeds</a>
        <% else %>
        <a href="#"><%= current_user.username %></a>
        <% end %>
        <ul class="menu vertical">
          <% if !user_signed_in? %>
          <li>
            <div style="padding: 10px">
              <small>
                Welcome to Classifeds. Sign in or Register to:<br>
                <ul>
                  <li>Post and manage ads</li>
                  <li>Send emoji reactions! 🎉</li>
                </ul>
              </small>
            </div>
          </li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Register", new_user_registration_path %></li>
          <% else %>
            <%= link_to 'Post Advertisement', new_advertisement_path %>
            <%= link_to "Edit Profile", '/profile/edit' %>
            <%= link_to 'Sign out', destroy_user_session_path %>
          <% end %>
        </ul>
      </li>
      <li>
        <%= link_to '/about', :class => 'menu-text', tabindex: -1  do %>
        ads@<%= ENV['CLASSIFEDS_DOMAIN'] %>
        <% end %>
      </li>
      <li>
        <%= link_to '/' do %>
        Search
        <% end %>
      </li>
      <ul class="menu vertical medium-horizontal" data-responsive-menu="medium-dropdown">
        <li class="dropdown menu has-submenu">
          <a href="#">Categories</a>
          <ul class="submenu menu vertical" data-submenu="">
            <% Advertisement.categories_as_navbar_collection.each do |key, value| %>
            <li>
              <a href="#"><%= key %></a>
              <ul class="submenu menu vertical" data-submenu="">
                <% value.each do |item| %>
                <li><a href="#"><%= item[0] %></a></li>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </li>
      </ul>
    </ul>
  </div>
</div>
