<% if @advertisement.errors.present? %>
  <%= render 'shared/flashes', errors: @advertisement.errors %>
<% end %>

<%= simple_form_for @advertisement, :multipart => true do |f| %>

  <!-- Main row -->
  <div class="row new-advertisement">

    <!-- Left column (map, info, contact) -->
    <div class="column small-12 medium-3 large-3 left-column large-offset-1">

      <!-- Map / Location Selector -->
      <fieldset class="fieldset map-container">
        <legend id="user_location" data-geocode="<%= @advertisement.geocode %>"><%= t :location %></legend>
        <div id='js-small-map' style='width: 100%; height: 300px' data-new-page-map></div><br>
        <%=
          f.input :location,
          label: false,
          input_html: {
            id: "algolia-places-input",
            value: @advertisement.location
          }
        %>
      </fieldset>
      <!-- Category / Subcategory -->
      <fieldset class="fieldset information-container">
        <legend><%= t :information %></legend>
          <div class="row">
            <div class="columns small-3 info-label">
              <p data-tooltip title="<%= t :new_ad_type_toolip %>"><%= t :type %></p>
            </div>
            <div class="columns small-9">
              <!-- Types filter -->
              <%=
                f.input :for,
                # :label => t(:type),
                :label => false,
                :as => :select,
                :include_blank => false,
                :include_hidden => false,
                :collection => Rails.application.config.classifeds_types
              %>
            </div>
          </div>

         <!-- category_subcategory filter -->
         <div class="row">
           <div class="columns small-3 info-label">
             <p data-tooltip title="<%= t :new_ad_category_tooltip %>"><%= t :category %></p>
           </div>
           <div class="columns small-9">
             <%=
                f.input :category_name,
                # :label => t(:category),
                :label => false,
                :as => :grouped_select,
                :include_blank => false,
                :include_hidden => false,
                :collection => Advertisement.categories_as_form_collection,
                :group_method => :last,
                :group_label_method => :first,
                :selected => [@advertisement.category_name, @advertisement.subcategory_name].to_s
              %>
           </div>
         </div>
      </fieldset>
    </div>

    <!-- Center column (heading, emoji-reacts, content, emoji-react-info) -->
    <div class="column small-12 medium-6 large-4 center-column">

      <!-- Heading -->
      <div class="row heading-container">

        <!-- Advertisement Title -->
        <div class="column small-12 medium-10 large-10">
          <%=
            f.input :title,
            :placeholder => 'Title',
            :label => false,
            :error => false
          %>
        </div>

        <!-- Advertisement Emoji -->
        <div class="column small-12 medium-expand large-expand align-right align-middle">
          <h1 class="js-emoji-picker">😀</h1>
          <%=
            f.input :emoji,
            :label => false,
            :input_html => { value: @advertisement.emoji },
            :as => :hidden
          %>
        </div>
      </div>

      <!-- Advertisement Body -->
      <div class="row">

        <div class="columns">
          <%=
            f.input :body,
            :label => false,
            :error => false,
            input_html: {
              id: "editor"
            }
          %>
        </div>
      </div>

      <!-- Form Controls -->
      <div class="row form-controls">

        <div class="columns">
          <%=
            f.button :submit,
            :class => "button primary expanded"
          %>
        </div>
      </div>
    </div>

    <!-- Right column (contact methods, images) -->
    <div class="column small-12 medium-3 large-3 right-column">

      <!-- Contact methods -->
      <!-- Contact methods -->
      <fieldset class="fieldset contact-methods">
        <legend><%= t :contact_methods %></legend>
        <p data-tooltip class="top" title="<%= t :public_option_tooltip %>"><%= t :public %></p>
        <div class="public-methods-container">
        <% @publicContactMethods.each_with_index do |method, index| %>
          <div class="row">
            <div class="columns small-1">
              <input
                id="public-checkbox<%= index %>"
                name="advertisement[contact_methods][<%= method["name"] %>]"
                type="checkbox"
                <%= "checked" if @advertisement.contact_methods_as_array.include?(method["name"]) %>
              >
            </div>
            <div class="columns small-expand">
              <label title="<%= method["value"] %>"
                data-toolip for="public-checkbox<%= index %>">
                <small><%= method["name"].capitalize %></small><%= method["value"] %>
              </label>
            </div>
          </div>
        <% end %>
        </div>
        <p class="top" data-tooltip title="<%= t :private_option_tooltip %>"><%= t :private %></p>
        <div class="private-methods-container">
        <% @privateContactMethods.each_with_index do |method, index| %>
        <div class="row">
          <div class="columns small-1">
            <input
              id="private-checkbox<%= index %>"
              name="advertisement[contact_methods][<%= method["name"] %>]"
              type="checkbox"
              <%= "checked" if @advertisement.contact_methods_as_array.include?(method["name"]) %>
            >
          </div>
          <div class="columns small-expand">
            <label title="<%= method["value"] %>"
              data-toolip for="private-checkbox<%= index %>">
              <small><%= method["name"].capitalize %></small><%= method["value"] %>
            </label>
          </div>
        </div>
        <% end %>
        </div>
      </fieldset>

      <fieldset class="fieldset" style="padding-bottom: 10px;">
        <legend><%= t :images %></legend>
         <label for="advertisement_images">
           <span class="button primary expanded"><%= t :select_images %> <span class="label image-count" id="js-images-count">0</span></span>
         </label>
        <%=
          f.file_field :images,
          :multiple => true,
          :class => 'button'
        %>
        <div id="js-image-preview" class="images-container"></div>
      </fieldset>
    </div>

  </div>
<% end %>

<input id="search_distance" type="text" value="5">
