<%= simple_form_for @advertisement do |f| %>
<div class="grid-x grid-padding-x grid-padding-y" id="algoliasearch" style="margin-top:-18px">
  <div class="cell small-2 medium-4 large-3">
    <div>
      <div class="grid grid-x">
        <div class="cell small-12 medium-12 large-12">
          <fieldset class="fieldset">
            <legend id="user_location" data-geocode="<%= current_user.geocode %>">
              <strong><a href="#" class="bottom" tabindex="2" title="Click to update location">
                <i class="fi-marker"></i> Location
              </a></strong>
            </legend>
            <div id='map' style='width: 100%; height: 300px;'></div><br>
            <%= f.input :location,
                        label: false,
                        input_html: {
                          id: "address-input",
                          value: @advertisement.location.present? ? @advertisement.location : current_user.location
                        } %>
          </fieldset>
          <fieldset class="fieldset">
            <legend><i class="fi-info"></i> Info</legend>
             <%= f.input :for,
               :label => 'Type',
               :as => :select,
               :include_blank => false,
               :include_hidden => false,
               :collection => Rails.application.config.classifeds_types %>
             <%= f.input :category_name,
                :label => 'Category',
                :as => :grouped_select,
                :include_blank => false,
                :include_hidden => false,
                :collection => Advertisement.categories_as_form_collection,
                :group_method => :last,
                :group_label_method => :first %>
          </fieldset>
          <fieldset class="fieldset">
            <legend><i class="fi-at-sign"></i> Contact</legend>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="cell small-12 medium-8 large-6">
    <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell" style="padding-top:45px">

          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell large-11">
              <%= f.input :title,
              :placeholder => 'Title',
              :label => false
              %>
            </div>
            <div class="cell large-1">
              <h1 class="js-emoji-picker">😀</h1>
              <%= f.input :emoji,
                :label => false,
                :as => :hidden %>
            </div>
          </div>
          <%= f.input :body, :label => false, input_html: {
            id: "editor"
          } %>


          <div style="margin-top:20px; text-align: middle">
            <%= f.button :submit, :class => "button" %>
          </div>


        <% end %>

      </div>
    </div>

  </div>
  <div class="cell small-12 medium-8 large-3">
    <fieldset class="fieldset">
      <legend><i class="fi-camera"></i> Images</legend>
      <div style="text-align: center;">
        <button class="button success"><i class="fi-plus"></i> Add Image</button>
      </div>
    </fieldset>
  </div>
</div>
