  <!-- app/views/offers/show.html.erb -->
  <% content_for :meta_title, "#{@advertisement.emoji} #{@advertisement.title} | #{@advertisement.category_name} &gt; #{@advertisement.subcategory_name } | #{@advertisement.location}" %>
  <% content_for :meta_description, "#{strip_tags(@advertisement.body[0..197])}..." %>

  <% if @advertisement.images.attached? %>
  <% content_for :meta_image, rails_blob_path(@advertisement.images.first, only_path: true) %>
  <% end %>

  <!-- Location filter (hidden in a modal)  -->
  <div class="reveal" id="js-show-private-details-modal" data-reveal data-close-on-click="true">
    <div class="fieldset-container">
      <fieldset class="fieldset">
        <legend><%= t :private_details %></legend>
        <div class="columns small-12">
          <% if user_signed_in? %>
            <dl>
              <% @privateContactMethods.each do |method| %>
              <dt><%= method["name"].capitalize %></dt>
              <dd><a href="#"><%= method["value"] %></a></dd>
              <% end %>
            </dl>
          <% else %>
            <p>🙀 <%= t :you_must_sign_in %></p>
          <% end %>
        </div>
      </fieldset>
    </div>
  </div>

  <!-- Main row -->
  <div class="row show-advertisement">

  <div class="column sharing-column small-12 medium-12 large-12">
    <div class="row">
        <div class="column small-12 medium-10 large-10">
          <a id="js-share-advertisement" data-tooltip class="right" href="<%= @original_url %>" title="<%= t :click_to_copy_url %>"><%= @original_url %></a>
        </div>
        <div class="column small-12 medium-2 large-2 bookmark">
          <i class="material-icons">print</i>
          <i class="material-icons">share</i>
          <i class="material-icons">bookmark_outline</i>
        </div>
    </div>

  </div>

  <!-- Left column (map, info, contact) -->
  <div class="column small-12 medium-3 large-3 left-column small-order-2 medium-order-1 large-order-1">

    <div class="row">
      <div class="column small-12 medium-12 large-12">

        <!-- Map -->
        <fieldset class="fieldset map-container">
          <legend id="user_location" data-geocode="<%= @advertisement.geocode %>" data-location="<%= @advertisement.location %>">
            <%= @advertisement.location %>
          </legend>
          <div id='js-small-map' class="show-page-small-map" style="height: 15rem" data-map-show-advertisement="true" onclick="window.history.back()"></div>
        </fieldset>
      </div>

      <div class="column small-12 medium-12 large-12">

        <div class="row">

          <!-- Contact Information -->
          <div class="column small-12 medium-12 large-12">
            <fieldset class="fieldset contact-container">
              <legend><%= t :contact %></legend>
              <dl>
                <% @publicContactMethods.each do |method| %>
                <dt><%= method["name"].capitalize %></dt>
                <dd><a href="#"><%= method["value"] %></a></dd>
                <% end %>
              </dl>
              <% if @privateContactMethods.count > 0 %>
                <a href="#" data-open="js-show-private-details-modal" class="button primary expanded"><%= t :show_private_contact_methods %></a>
              <% end %>
            </fieldset>
          </div>

          <!-- Post Information -->
          <div class="column small-12 medium-12 large-12">
            <fieldset class="fieldset information-container">
              <legend><%= t :information %></legend>
              <dl>
                <dt><%= t :posted_by %></dt>
                <dd><a href="#"><%= @advertisement.user.username %>@<%= ENV["CLASSIFEDS_DOMAIN"] %></a></dd>
                <dt><%= t :listed %></dt>
                <dd><a href="#"><%= time_ago_in_words(@advertisement.created_at) %> </a></dd>
                <dt><%= t :last_updated %></dt>
                <dd><a href="#"><%= time_ago_in_words(@advertisement.updated_at) %> </a></dd>
              </dl>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Center column (heading, emoji-reacts, content, emoji-react-info) -->
  <div class="column small-12 medium-6 large-expand center-column small-order-1 medium-order-2 large-order-2">

    <!-- Page title -->
    <div class="row heading-container align-middle">
      <div class="column medium-10">
          <h1><%= @advertisement.title %></h1>
      </div>
    </div>

    <!-- Emoji reacts -->
    <div class="row">
      <div class="column">
        <p class="information">
          <span class="label location"><%= @advertisement.location %></span>
          <span class="label type"><%= @advertisement.for %></span>
          <span class="label category"><%= @advertisement.category_name %> > <%= @advertisement.subcategory_name %></span>
        </p>
        <hr>
      </div>
    </div>

    <!-- Advertisement body -->
    <div class="row">
      <div class="column">
        <%== @advertisement.body %>
        <p class="poster-controls">
          <% if user_signed_in? && current_user === @advertisement.user %>
            <%= link_to t(:edit), edit_advertisement_path(@advertisement) %>
            |
            <%= link_to t(:delete), advertisement_path(@advertisement), data: {:confirm => 'Are you sure?'}, :method => :delete %>
          <% end %>
        </p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="emoji-reacts" id="js-top-emoji">
          <%= render 'emojireact/emoji-tags', grouped_emoji: @advertisement.grouped_emoji %>
        </div>
      </div>
    </div>

    <!-- Emoji reacts info -->
    <div class="row">
      <div class="column">
        <div id="js-reacts" class="reacts-at-bottom">
          <%= render 'emojireact/emoji-reacts', emoji: @advertisement.emoji_react %>
        </div>
        <p class="view-counter"><%= @advertisement.hits %> <%= t :views %></p>
      </div>
    </div>

  </div>

  <!-- Right column (images) -->
  <div class="column small-12 medium-3 large-5 right-column small-order-3 medium-order-3 large-order-3">

    <!-- Image container -->
    <fieldset class="fieldset show-pics images-container">
      <legend><%= t :images %></legend>
      <div class="images-inner-container">
        <div id="js-images-container" class="grid">
          <div class="gutter-sizer"></div>
          <% @advertisement.images.each_with_index do |image, index| %>
            <div class="image-container packery-item js-reveal-carousel" data-slide-id="<%= index %>">
              <img src="<%= url_for(image) %>">
            </div>
          <% end %>
          <div class="image-container quote-container packery-item js-reveal-carousel" data-slide-id="emoji">
            <p data-slide-id="emoji"><%= @advertisement.emoji %></p>
          </div>
          <div class="image-container packery-item js-reveal-carousel" data-slide-id="<%= @advertisement.images.count %>">
            <img src="<%= @png.to_data_url %>" />
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Reveal -->
    <div class="reveal full" id="modal" data-reveal data-close-on-click="true">
      <div class="carousel">
        <% @advertisement.images.each_with_index do |image, index| %>
          <div class="carousel-cell" data-slide-id="<%= index %>">
            <img class="carousel-cell-image"
              src="<%= url_for(image) %>" />
          </div>
        <% end %>
        <div class="carousel-cell" data-slide-id="emoji">
          <h1 style="font-size: 10rem;"><%= @advertisement.emoji %></h1>
        </div>
        <div class="carousel-cell" data-slide-id="<%= @advertisement.images.count %>">
          <img class="carousel-cell-image" src="<%= @png.to_data_url %>" />
        </div>
      </div>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>
  </div>

  <!-- Hidden form (for submitting emoji reacts) -->
  <% if user_signed_in? %>
  <%= simple_form_for :emoji,
      remote: true,
      authenticity_token: true,
      url: advertisement_react_path(@advertisement) do |f| %>
      <%= f.input :emoji, :as => :hidden, :input_html => {value: ""} %>
  <% end %>
  <% end %>

  <input id="search_distance" class="search-distance-input" value="15"/>
