<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@advertisement.emoji} #{@advertisement.title} | #{@advertisement.category_name} &gt; #{@advertisement.subcategory_name } | #{@advertisement.location}" %>
<% content_for :meta_description, "#{strip_tags(@advertisement.body[0..197])}..." %>

<% if @advertisement.images.attached? %>
<% content_for :meta_image, rails_blob_path(@advertisement.images.first, only_path: true) %>
<% end %>

<!-- Main row -->
<div class="row show-advertisement">

  <!-- Left column (map, info, contact) -->
  <div class="column small-12 medium-3 large-3 left-column small-order-2 medium-order-1 large-order-1">

    <div class="row">
      <div class="column small-12 medium-12 large-12">

        <!-- Map -->
        <fieldset class="fieldset map-container">
          <legend id="user_location" data-geocode="<%= @advertisement.geocode %>" data-location="<%= @advertisement.location %>">
            <%= @advertisement.location %>
          </legend>
          <div id='js-small-map' class="show-page-small-map" style="height: 300px;" data-map-show-advertisement="true"></div>
        </fieldset>
      </div>

      <div class="column small-12 medium-12 large-12">

        <div class="row">

          <!-- Contact Information -->
          <div class="column small-12 medium-12 large-12">
            <fieldset class="fieldset contact-container">
              <legend>Contact</legend>
              <dl>
                <dt>Email</dt>
                <dd><a href="#"><%= @advertisement.user.email %></a></dd>
              </dl>
            </fieldset>
          </div>

          <!-- Post Information -->
          <div class="column small-12 medium-12 large-12">
            <fieldset class="fieldset information-container">
              <legend>Info</legend>
              <dl>
                <dt>Posted By</dt>
                <dd><a href="#"><%= @advertisement.user.preferred_username %></a></dd>
                <dt>Listed</dt>
                <dd><a href="#"><%= time_ago_in_words(@advertisement.created_at) %> ago</a></dd>
                <dt>Last Updated</dt>
                <dd><a href="#"><%= time_ago_in_words(@advertisement.updated_at) %> ago</a></dd>
              </dl>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Center column (heading, emoji-reacts, content, emoji-react-info) -->
  <div class="column small-12 medium-6 large-expand center-column small-order-1 medium-order-2 large-order-2">

    <!-- Page title -->
    <div class="row heading-container align-middle">
      <div class="column medium-10">
        <svg viewBox="0 0 200 21">
          <text x="0" y="15"><%= @advertisement.emoji %> <%= @advertisement.title %></text>
        </svg>
      </div>
      <!-- <div class="column expand">
        <h1 id="js-add-bookmark"><a><i class="material-icons">bookmark_border</i></a></h1>
      </div> -->
    </div>

    <!-- Emoji reacts -->
    <div class="row">
      <div class="column">
        <p class="information">
          <span class="label location"><%= @advertisement.location %></span>
          <span class="label type"><%= @advertisement.for %></span>
          <span class="label category"><%= @advertisement.category_name %> > <%= @advertisement.subcategory_name %></span>
        </p>
        <div class="emoji-reacts" id="js-top-emoji">
          <%= render 'emojireact/emoji-tags', grouped_emoji: @advertisement.grouped_emoji %>
        </div>
        <hr>
      </div>
    </div>

    <!-- Advertisement body -->
    <div class="row">
      <div class="column">
        <%== @advertisement.body %>
        <!-- Poster Controls -->
        <div class="poster-controls">
          <% if user_signed_in? && current_user === @advertisement.user %>
            <p>
              <%= link_to 'Edit', edit_advertisement_path(@advertisement) %>
                |
              <%= link_to 'Delete', advertisement_path(@advertisement), data: {:confirm => 'Are you sure?'}, :method => :delete %>
            </p>
          <% end %>
        </div>
        <hr>
      </div>
    </div>

    <!-- Emoji reacts info -->
    <div class="row">
      <div class="column">
        <div id="js-reacts" class="reacts-at-bottom">
          <%= render 'emojireact/emoji-reacts', emoji: @advertisement.emoji_react %>
        </div>
        <p class="view-counter"><%= @advertisement.hits %> views</p>
      </div>
    </div>

  </div>

  <!-- Right column (images) -->
  <div class="column small-12 medium-3 large-5 right-column small-order-3 medium-order-3 large-order-3">

    <!-- Image container -->
    <fieldset class="fieldset show-pics images-container">
      <legend>Images</legend>
      <div class="images-inner-container">
        <div id="js-images-container" class="grid">
          <div class="gutter-sizer"></div>
          <% @advertisement.images.each_with_index do |image, index| %>
            <div class="image-container packery-item js-reveal-carousel" data-slide-id="<%= index %>">
              <img src="<%= url_for(image) %>">
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>

    <!-- Reveal -->
    <div class="reveal full" id="modal" data-reveal data-close-on-click="true">
      <div class="carousel">
        <% @advertisement.images.each_with_index do |image, index| %>
          <div class="carousel-cell" data-slide-id="<%= index %>">
            <img class="carousel-cell-image"
              src="<%= url_for(image) %>" />
          </div>
        <% end %>
      </div>
      <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>
</div>

<!-- Hidden form (for submitting emoji reacts) -->
<% if user_signed_in? %>
  <%= simple_form_for :emoji,
      remote: true,
      authenticity_token: true,
      url: advertisement_react_path(@advertisement) do |f| %>
      <%= f.input :emoji, :as => :hidden, :input_html => {value: ""} %>
  <% end %>
<% end %>

<input id="search_distance" class="search-distance-input" value="15ek"/>
