<%= simple_form_for :search,
  :method => :get,
  :remote => true,
  :html => {
    :id => 'search_form',
  },
  :url => search_path do |f|
%>
<div class="row show-advertisement">

  <!-- Left column (map, info, contact) -->
  <div class="column small-12 medium-3 large-3 left-column">

    <div class="row">
      <div class="column small-12 medium-12 large-12 small-order-1 medium-order-1 large-order-">

        <!-- Map -->
        <fieldset class="fieldset map-container">
          <div id='map' style="height: 150px;"></div><br>
          <legend id="user_location" data-geocode="<%= user_signed_in? ? current_user.geocode : Rails.application.config.classifeds_default_geocode %>">
            <i class="material-icons">language</i> <%= user_signed_in? ? current_user.location : Rails.application.config.classifeds_default_location %>
          </legend>

          <!-- Distance slider -->
          <div class="row">
            <div class="column small-expand medium-expand large-expand">
              <div class="slider" id="radius-slider" data-slider data-initial-start="25" data-start="1" data-end="<%= Rails.application.config.classifeds_max_search_distance %>" data-step="5">
                <span class="slider-handle"  data-slider-handle role="slider" tabindex="1" aria-controls="search_distance"></span>
                <span class="slider-fill" data-slider-fill></span>
              </div>
            </div>
            <div class="column small-5 medium-12 large-5">
              <div class="input-group">
                <%= f.input :distance,
                :label => false,
                :input_html => {
                  class: "input-group-field",
                  value: @distance_param
                } %>
                <div class="input-group-button">
                  <input type="submit" class="button expand" value="km">
                </div>
              </div>
            </div>

          </div>
        </fieldset>

      </div>

      <div class="column small-12 medium-12 large-12 small-order-2 medium-order-3 large-order-">

        <!-- Type -->
        <fieldset class="fieldset type-filters-container">
          <legend><i class="material-icons">info</i> Type</legend>
          <div id="js-type-filters">
          <%= render 'v2_search/partials/type_filters', filters: @types_param %>
          </div>
          <div id="type-filter-inputs">
          <%=
            f.collection_check_boxes :types, Rails.application.config.classifeds_types, :to_s, :to_s, {
              :include_blank => false,
              :include_hidden => false,
              :label => false,
              :selected => @types_param
            }, {}
           %>
           </div>
          </fieldset>

         <!-- Category -->
         <fieldset class="fieldset category-container">
           <legend><i class="material-icons">category</i> Category</legend>
           <div id="js-category-filters">
           <%= render 'v2_search/partials/category_filters', filters: @categories_param %>
           </div>
           <div id="category-filter-inputs">
           <%=
             f.collection_radio_buttons :category_subcategory, Advertisement.categories_as_checkbox_collection, :to_s, :to_s, {
               :include_blank => true,
               :include_hidden => false,
               :selected => @categories_param
             }, {}
            %>
            </div>
          </fieldset>

      </div>
    </div>
  </div>

  <!-- Center column (heading, emoji-reacts, content, emoji-react-info) -->
  <div class="column small-12 medium-expand large-expand center-column">

    <!-- Page title -->
    <div class="row">
      <div class="column expand">
        <div class="callout alert query-container">
          <%=
            f.input :query,
            :label => false,
            :input_html => {
              placeholder: "Search #{Advertisement.all.count} classifeds",
              autofocus: false,
              value: @query_param
            }
          %>
        </div>
      </div>
    </div>

    <!-- Applied Filters -->
    <div class="row">
      <div class="column">
        <p id="js-applied-filters">
          <%= render 'v2_search/partials/applied_filters', location: @location_param, distance: @distance_param, types: @types_param, category: @categories_param %>
        </p>
      </div>
    </div>

    <!-- Results grid -->
    <div id="js-results-grid">
      <div class="js-gutter-sizer"/>
      <div id="js-results-cards">
        <%= render 'v2_search/partials/search_results', advertisements: @advertisements %>
      </div>
    </div>

  </div>
</div>
<% end %>
