<span class="label location-filter">
  Within <%= distance %> km of <a href="#" data-open="js-change-location-modal"><%= location %></a>
</span>

<% if types.present? %>
  <% types.each do |type| %>
  <span class="label type-filter"><%= type %></span>
  <% end %>
<% else %>
  <span class="label type-filter">All Types</span>
<% end %>

<% if category.present? %>
  <span class="label category-filter"><%= category %></span>
<% else %>
  <span class="label category-filter">All Categories</span>
<% end %>

<% if types.present? || category.present? %>
  <span class="label clear-filters" onclick="window.clearFilters()">Clear Filters</span>
<% else %>
  <span class="label clear-filters">No Filters</span>
<% end %>

<span class="results-count">
  <%= @advertisements.count(:all) %> results
</span>
