<span class="label location-filter">
  <%= t :within %> <%= distance %> km <%= t :of %> <a href="#" data-open="js-change-location-modal"><%= location %></a>
</span>

<% if types.present? %>
  <% types.each do |type| %>
  <span class="label type-filter"><%= type %></span>
  <% end %>
<% else %>
  <span class="label type-filter"><%= t :all_types %></span>
<% end %>

<% if category.present? %>
  <span class="label category-filter"><%= category %></span>
<% else %>
  <span class="label category-filter"><%= t :all_categories %></span>
<% end %>

<% if types.present? || category.present? %>
  <span class="label clear-filters" onclick="window.clearFilters()"><%= t :clear_filters %></span>
<% else %>
  <span class="label clear-filters"><%= t :clear_filters %></span>
<% end %>

<span class="results-count">
  <%= @advertisements.count(:all) %> <%= t :results %>
</span>
